.container{
    background-color: #112240;

    /* This is the container for the entire website, it is the slightly lighter shade of navy blue background */
    position: relative;
}

.mainBody{
    background-color: #152541;
    position: relative;
    /* This is the area where the text is, it is a body inside the container to display a difference between the text and background colors. it is the Darker blue  */
}

.name{
    color: #64ffda;
    font-size: xx-large;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    position: relative;
    /* This is the font sizing and coloring for just my name that is inside the black box */
}

.mainText{
    color: #64ffda;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: bold;
    position: relative;
    
    /* This is the class used for all the of the main body text I will be using and the font style I got from google fonts.  */
}

.bottomText{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: #ccd6f6;
    position: relative;
    padding-right: 20px;
    /* this is the class for the text at the bottom of the page that says my name and the date updated, it is like the copyright looking coloring and style.  */
}

#instagramIcon{
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -ms-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
}

#gitIcon{
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -ms-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
}

#linkedinIcon{
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -ms-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
}