.container{
    /* background-color: #233554; */
    background-color: #112240;
    
}

.mainBody{
    /* background-color: #112240; */
    background-color: #152541;
    
}

.name{
    color: #64ffda;
    font-size: xx-large;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.mainText{
    color: #64ffda;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    
}

.bottomText{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: #ccd6f6;
}